#square-button{
    width: 30%;
    height: 3em;
    background-color: purple;
    color: white;
    font-size: 2em;

}

.squares{
    height: 10em;
    width: 10em;
    background-color: black;
    float:left;
    margin: 10px;
}
